<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>TimeWise</title>
  </head>
  <body>

<header id="main_header" class="scrollspy navbar-fixed">
    <style>
        .sidebar-header {
    padding: 1rem;
}

.sidebar-header img {
    border-radius: 50%;
    display: block;
    margin: 1rem auto;
}

.sidebar-header h4 {
    margin: 0.5em auto 0;
    line-height: 1;
}

.sidenav button {
    background: transparent;
    border: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.sidenav button:hover {
    cursor: pointer;
}

.hero_slider {
    margin-bottom: 1rem;
}

.slider .indicators .indicator-item.active {
    background-color: #546e7a;
}

.slider .indicators .indicator-item {
    background-color: #cfd8dc;
}

.slider img {
    opacity: 0.2;
}

.slider li {
    background-color: #90a4ae;
}

/* label focus color */
.input-field input[type=text]:focus + label.active,
.input-field input[type=email]:focus + label.active {
    color: #546e7a;
}

/* valid color */
.input-field input[type=text].valid,
.input-field input[type=text]:focus,
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=text]:not(.browser-default):focus,
.input-field input[type=email].valid,
.input-field input[type=email]:focus,
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus {
    border-bottom: 1px solid #546e7a;
    box-shadow: 0 1px 0 0 #546e7a;
}

.custom_terms {
    padding-bottom: 0.5rem;
}

.my-about-us {
  padding-top: 10em;
  padding-bottom: 10em;
}

.my-about-us .row {
    margin-bottom: 0;
}

.my-about-us input,
.my-about-us label {
    background-color: #fff;
}

.my-about-us h3 {
    margin-top: 0;
    line-height: 1;
}
.my-about-us p {
    margin-bottom: 0;
}

.my-background {
    background-color: lightgrey;
    background-image: url('https://picsum.photos/1000?grayscale/7');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    margin-right: 0;
}

.my-card_wrapper {
    padding: 2.5rem 0 0.5rem;
}

.card .card-image .card-title {
    background-color: rgba(84, 110, 122, 0.72);
    width: 100%;
    padding: 0.23em 1em;
}

.custom_footerlinks a:hover{
    text-decoration: underline;
}

@media only screen and (min-width: 600px) {
    .about_us {
        margin-top: 4rem;
        overflow: hidden;
    }
  }

    @media only screen and (min-width: 992px) {
        nav .brand-logo {
            margin-left: 1rem;
        }
    }
    </style>
    <nav class="blue-grey darken-1">
        <div class="container">
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo left"><i class="material-icons">cloud</i>Timewise</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#aboutus" class="waves-effect waves-light">The Vision</a></li>
                    <li><a href="#myoptions" class="waves-effect waves-light">Overview</a></li>
                    <li><a href="#cards_section" class="waves-effect waves-light">Content</a></li>
                    <li><a href="#actual" class="waves-effect waves-light">Pricing</a></li>
                    <li><a href="#team" class="waves-effect waves-light">Team</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<nav class="sidenav" id="mobile-demo">
<div class="sidebar-header teal lighten-4">
    <button data-target="mobile-demo" class="sidenav-close right black-text"><i class="material-icons">close</i></button>
    <img src="https://lorempixel.com/150/150/city" alt="" class="">
    <h4 class="center-align black-text">&nbsp;</h4>
</div>
<ul>
    <li><a href="#aboutus" class="waves-effect waves-light sidenav-close">The Vision</a></li>
    <li><a href="#myoptions" class="waves-effect waves-light sidenav-close">Overview</a></li>
    <li><a href="#cards_section" class="waves-effect waves-light sidenav-close">Content</a></li>
    <li><a href="#actual" class="waves-effect waves-light">Pricing</a></li>
    <li><a href="#team" class="waves-effect waves-light">Team</a></li>
</ul>
</nav>

<main>
<section class="hero_slider">
<div class="">
<div class="slider">
<ul class="slides">
  <li>
    <img 
         src="https://cdn.pixabay.com/photo/2015/03/26/10/04/new-york-690868_960_720.jpg" alt="" />
    <!-- random image -->
    <div class="caption right-align">
      <h3>TimeWise</h3>
      <h5 class="light grey-text text-lighten-4">A Revolutionary VR Game Powered by GPT-3</h5>
      <p></p>
    </div>
  </li>
  <li>
    <img src="https://cdn.pixabay.com/photo/2017/01/28/02/24/japan-2014618_960_720.jpg" srsetc="https://cdn.pixabay.com/photo/2017/01/28/02/24/japan-2014618__340.jpg 340w, https://cdn.pixabay.com/photo/2017/01/28/02/24/japan-2014618_960_720.jpg 720w" alt="" />
    <!-- random image -->
    <div class="caption right-align">
      <h3>AI-powered Edutainment</h3>
      <h5 class="light grey-text text-lighten-4">Inspiring the Next Generation of Thinkers</h5>
    </div>
  </li>
</ul>
</div>
</div>
</section>

<div class="container my-about-us">
<div class="row">
<div class="col s12 m7">
  <div id="aboutus" class="LEFT-align about_us scrollspy" style="padding-right:10em;">
    <h3>The Vision</h3>
    <p>TimeWise is more than just a VR game - it's an educational tool that has the potential to inspire and challenge the minds of the next generation of VR players. We are excited about the possibilities that our VR game powered by GPT-3 offers and look forward to seeing the impact it can have on education and society as a whole.</h4>
    </p>
  </div>
</div>
<div class="col s12 m5">
  <div class="row">
    <div class="col s12 m">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Fostering Critical Thinking</span>
          <p>Critical thinking is a skill that is essential in today's world, and TimeWise aims to foster this skill by encouraging users to ask questions and engage in discussions with the simulated entities. By doing so, we hope to promote a deeper understanding of the world around us and the people who have shaped it.</p>
        </div>
        <div class="card-action">
          <a href="https://openai.com/blog/chatgpt/">MORE ABOUT GPT-3 HERE</a>
        </div>
      </div>
    </div>
  </div>

</div>
</div>
</div>

<div class="my-background my-card_wrapper">
  <section id="myoptions" class="container scrollspy" style="padding-top: 0;padding-bottom: 10em;">
    <div class="row center-align" style="margin-top: 0; padding-top: 0;">

<h3 class="center-align" style="margin-top:0;margin-bottom:0;padding-top: 2em;padding-bottom: 2em;">Overview</h3>

<div class="col s12 m6 xl3">
  <div class="card blue-grey darken-1 center-align" style="background-color: #1B263B !important;">
    <div class="card-content white-text">
      <span class="card-title">Overview</span>
      <p>TimeWise is a groundbreaking virtual reality (VR) game that takes users on a journey through the history of humankind. Using Unreal Engine 5 and OpenAI's ChatGPT Davinci model, TimeWise creates an immersive experience that allows users to interact with some of the most brilliant scientific and philosophical minds of all time.</p>
    </div>
  </div>
</div>
<div class="col s12 m6 xl3">
  <div class="card blue-grey darken-1 center-align" style="background-color: #005B5D !important;">
    <div class="card-content white-text">
      <span class="card-title">Gameplay</span>
      <p>TimeWise allows players to engage in face-to-face conversations with simulated entities using AI-powered text-to-speech technology. These entities are limited to topics that they have literature on, making TimeWise not only a game, but also an educational tool. Each entity's conversation takes place in a specially designed virtual space that reflects their field and time period.</p>
    </div>
  </div>
</div>
<div class="col s12 m6 xl3 center-align">
  <div class="card blue-grey darken-1 center-align" style="background-color: #7D4E57 !important;">
    <div class="card-content white-text">
      <span class="card-title">Our Goal</span>
      <p>The goal is to inspire the next generation of thinkers by providing an immersive, interactive experience with some of the greatest minds in history. We believe that our VR game GPT-3 powered can unlock the imagination of young people and help them see the world from a different perspective.</p>
    </div>
  </div>
</div>
<div class="col s12 m6 xl3 center-align">
  <div class="card blue-grey darken-1 center-align" style="background-color: #4A4A4A !important;">
    <div class="card-content white-text">
      <span class="card-title">Revolutionizing Education</span>
      <p>We believe that TimeWise has the potential to revolutionize education by providing a fun, engaging way for students to learn about history, science, and philosophy. By using AI and VR, we can make learning more interactive and accessible for students of all ages.</p>
    </div>
  </div>
</div>
</div>
<!-- row -->
</section>
</div>

<section id="cards_section" class="my-card_wrapper scrollspy">
<div class="container">
<div class="row">
<div class="col s12 m6 l4">
  <div class="card">
    <div class="card-image">
      <img src="https://picsum.photos/200?greyscale/1" alt="">
      <span class="card-title">Card Title</span>
    </div>
    <div class="card-content">
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat rerum debitis nostrum pariatur eveniet, animi illo libero reiciendis!</p>
    </div>
    <div class="card-action">
      <a href="#" class="light-blue-text text-darken-1 modal-trigger">This is a link</a>
    </div>
  </div>
</div>
<!--col-->
<div class="col s12 m6 l4">
  <div class="card">
    <div class="card-image">
      <img src="https://picsum.photos/200?greyscale/2" alt="">
      <span class="card-title">Card Title</span>
    </div>
    <div class="card-content">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia consectetur dicta nihil sunt.</p>
    </div>
    <div class="card-action">
      <a href="#" class="light-blue-text text-darken-1">This is a link</a>
    </div>
  </div>
</div>
<!--col-->
<div class="col s12 m6 l4">
  <div class="card">
    <div class="card-image">
      <img src="https://picsum.photos/200?greyscale/3" alt="">
      <span class="card-title">Card Title</span>
    </div>
    <div class="card-content">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae provident odio ducimus sit fugiat impedit accusamus, fuga commodi dignissimos voluptas, maxime nemo eos sequi.</p>
    </div>
    <div class="card-action">
      <a href="#" class="light-blue-text text-darken-1">This is a link</a>
    </div>
  </div>
</div>
<!--col-->
<div class="col s12 m6 l4">
  <div class="card">
    <div class="card-image">
      <img src="https://picsum.photos/200?greyscale/4" alt="">
      <span class="card-title">Card Title</span>
    </div>
    <div class="card-content">
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum minus veniam eius facere, quod quae aperiam et optio!</p>
    </div>
    <div class="card-action">
      <a href="#" class="light-blue-text text-darken-1">This is a link</a>
    </div>
  </div>
</div>
<!--col-->
<div class="col s12 m6 l4">
  <div class="card">
    <div class="card-image">
      <img src="https://picsum.photos/200?greyscale/5" alt="">
      <span class="card-title">Card Title</span>
    </div>
    <div class="card-content">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum error repellendus ut, inventore praesentium eos nam.</p>
    </div>
    <div class="card-action">
      <a href="#" class="light-blue-text text-darken-1">This is a link</a>
    </div>
  </div>
</div>
<!--col-->
<div class="col s12 m6 l4">
  <div class="card">
    <div class="card-image">
      <img src="https://picsum.photos/200?greyscale/6" alt="">
      <span class="card-title">Card Title</span>
    </div>
    <div class="card-content">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit qui aliquid maiores voluptatem laudantium fugiat natus molestiae.</p>
    </div>
    <div class="card-action">
      <a href="#" class="light-blue-text text-darken-1">This is a link</a>
    </div>
  </div>
</div>
<!--col-->
</div>
<!--row-->
</div>
<!--container-->
</section>
</main>

<footer class="page-footer blue-grey">

<div class="container center">
<a href="#main_header" class="btn btn-large waves-effect waves-light blue-grey darken-1 tooltipped" title="back to top button" data-position="bottom" data-tooltip="Back To Top">
        <i class="material-icons" style="display: block;">arrow_upward</i>
    </a>
</div>

<div class="container">
<div class="row">
<div class="col l6 s12">
</div>
<div class="col l4 offset-l2 s12">
<h5 class="white-text">Powered by</h5>
<ul class="custom_footerlinks">
  <li><a class="grey-text text-lighten-3" href="#!">GPT-3 by OpenAI</a></li>
</ul>
</div>
</div>
</div>
<div class="footer-copyright custom_footerlinks">
<div class="container">
© 2023 Copyright
</div>
</div>
</footer>


<script>
    // slider
var topSliders = document.querySelectorAll('.slider');
M.Slider.init(topSliders, {
    interval: 7000,
    height: 350,
    duration: 1000
});

// Scroll Spy
var scrollSpys = document.querySelectorAll('.scrollspy');
M.ScrollSpy.init(scrollSpys, {
    scrollOffset: 100,
    throttle: 50
});

// Tooltips
var tooltippers = document.querySelectorAll('.tooltipped');
M.Tooltip.init(tooltippers, {});

// Side bar nav
var sideNav = document.querySelectorAll('.sidenav'); 
M.Sidenav.init(sideNav, {
    inDuration: 350,
    outDuration: 400
});

// Modals
var allModals = document.querySelectorAll('.modal');
M.Modal.init(allModals, {});
</script>

</body>
</html>
